
    <div class="slider-wrapper">
        <div class="slider-item active">
            <img class="slider-img" src="https://fra1.digitaloceanspaces.com/mom-portfolio/about/about_1_thumbnail.jpg" alt="">
        </div>
        <div class="slider-item">
            <img class="slider-img slider-img--large" src='https://fra1.digitaloceanspaces.com/mom-portfolio/about/about_5_thumbnail.jpg' alt=''/>
        </div>
        <div class="slider-item">
            <img class="slider-img" src='https://fra1.digitaloceanspaces.com/mom-portfolio/about/about_6_thumbnail.jpg' alt=''/>
        </div>
        <div class="slider-item ">
            <img class="slider-img slider-img--large" src="https://fra1.digitaloceanspaces.com/mom-portfolio/about/about_4_thumbnail.jpg" alt="">
        </div>
        <div class="slider-item">
            <img class="slider-img" src='https://fra1.digitaloceanspaces.com/mom-portfolio/about/about_7_thumbnail.jpg' alt=''/>
        </div>
    </div>


<div class="slider-nav">
    <button class="slider-prev">prev</button>
    <button class="slider-next">next</button>
</div>
